*.nii.gz
*.nii
.idea
*.zip
HGG/
LGG/
.ipynb_checkpoints
brats/models
*.pkl
data.hdf5
*.log
*.h5
*.ipynb
*.pyc
*.json
test_dir
*.hdr
*.img
v2.3.2.tar.gz
prediction/
model_weights/
prediction_old/
web/vue-app/node_modules/